<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
<div th:fragment="body-ru">
	<h1>Здравствуйте <span id="name_span"></span>! Русский текст !</h1>

	<form action="#" th:action="@{/adaptive}" th:object="${params}" method="post">

		<label for="name_field">Введите своё имя:</label>
		<input id="name_field" type="text" th:field="*{userName}"/>

		<label>Select colors:</label>
		<select th:field="*{colors}" multiple>
			<option th:each="color : ${allSampleColors}"
					th:value="${color}"
					th:text="${color}">RED
			</option>
		</select>

		<label for="themes">Селектор темы</label>
		<select th:field="*{theme}"
				name="theme_list"
				id="themes"
				multiple>

			<option value="dark">Темная</option>
			<option value="light">Светлая</option>
		</select>

		<label for="langs">Селектор языка</label>
		<select name="lang_list" id="langs">
			<option value="dark">Русский</option>
			<option value="light">Английский</option>
		</select>

		<button class="set-name-button" type="submit">Отправить</button>
	</form>
</div>
</body>
</html>